<div>
  <div class="container">
    <div class="card">
      <h1>Dear Mumpster,</h1>

        <p> I know I already wrote you a letter, but my friends had a great idea to make a website for our moms (this is why I didn't go on a walk yesterday), so here's another one for you. I just want you to know that I am really grateful for you and everything that you have done for me and will do for me in the future. Even though I'm growing up and, as a result, you're feeling less like a parent to me and more like a friend, I still look up to you and I know that I still have a lot to learn from you. Please don't ever feel like you aren't doing enough, I am very happy with where I am now and with who I have become, and I think that is a reflection on how successful of a parent you have been. </p>

        <p> This may not be the way you would like to spend Mother's Day, locked up in a house with all of us, but I have been thinking about how every day we are stuck at home will make being around friends and being out of St. Louis that much better. And just think about how amazing next Mother's Day will be, when we're hopefully in California or somewhere. We'll think back to these times and be even more grateful about where we have come. But despite this, today can still be a lot of fun if we make it so, just like every other day we have spent and will be spending at home. And every situation has its bright sides, like how being in quarantine has given us a tremendous opportunity to live together again and struggle out our problems with a much more mature approach then we were ever capable of before, something that likely never would have happened under normal circumstances. And I have really started to enjoy living with you guys a lot. </p>

        <p> I hope your day is wonderful and devoid of any crazy interactions with crazy people. Here's to another strange but interesting year! </p>

        <h1> Love,</h1>
        <h1> Clayton </h1>
    </div>
  </div>
</div>
